@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
 body {
  background-image: url("images/blackjack_background.png");
  background-size: cover;
  height: 100%;
  width: 100%;
 }
button {
  background-color: #2ecc71;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in-out;
}

button:active {
  box-shadow: 0 2px rgb(0, 0, 0);
  transform: translateY(4px);
}

#hitbutton:hover {
  background-color: rgb(77, 173, 21);
}

#standbutton:hover {
  background-color: rgb(243, 6, 6);
}

#doublebutton:hover {
  background-color: rgb(0, 204, 255);
}

#splitbutton:hover {
  background-color: rgb(255, 0, 242);
}

.card {
  display: inline-block;
  width: 100px;
  height: 140px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  position: relative;
}

.card_rank, .card_suit {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
}

.card_suit {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
}

#balance-total {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  background-color: #4CAF50;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 16px;
  right: 16px;
}

#balance-total:hover {
  background-color: #3E8E41;
}

.action{
  visibility: hidden;
}